<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kelly.appgym">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:label="Registro"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.MainActivity" />
        </activity>
        <activity
            android:name=".PrincipalActivity"
            android:label="Principal"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UsuarioActivity"
            android:label="Perfil de Usuario"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.PrincipalActivity" />
        </activity>
        <activity
            android:name=".RutinasActivity"
            android:label="Rutinas"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.PrincipalActivity" />
        </activity>
        <activity
            android:name=".AyudaActivity"
            android:label="Ayuda"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.PrincipalActivity" />

        </activity>

        <activity
            android:name=".ejercicio.CicloActivity"
            android:label="Ejercicios"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.PrincipalActivity" />
        </activity>

        <activity
            android:name=".ejercicio.CicloInsercionActivity"
            android:parentActivityName=".ejercicio.CicloActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ejercicio.CicloActivity" />
        </activity>

        <activity
            android:name=".ejercicio.CicloActualizacionActivity"
            android:parentActivityName=".ejercicio.CicloActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ejercicio.CicloActivity" />
        </activity>

        <activity
            android:name=".musculo.MusculoActivity"
            android:label="Musculos"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.PrincipalActivity" />
        </activity>

        <activity
            android:name=".musculo.MusculoInsercionActivity"
            android:parentActivityName=".musculo.MusculoActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".musculo.MusculoActivity" />
        </activity>

        <activity
            android:name=".musculo.MusculoActualizacionActivity"
            android:parentActivityName=".musculo.MusculoActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".musculo.MusculoActivity" />
        </activity>

        <activity
            android:name=".actividad.ActividadActivity"
            android:label="Actividades"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kelly.appgym.PrincipalActivity" />
        </activity>

        <activity
            android:name=".actividad.ActividadInsercionActivity"
            android:parentActivityName=".actividad.ActividadActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividad.ActividadActivity" />
        </activity>

        <activity
            android:name=".actividad.ActividadActualizacionActivity"
            android:parentActivityName=".actividad.ActividadActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividad.ActividadActivity" />
        </activity>

        <provider
            android:name=".proveedor.ProveedorDeContenido"
            android:authorities="com.example.kelly.appgym.proveedor.ProveedorDeContenido"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>